.main-replies{
    background-color: #F4F1EA;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.postCombinator-replies{
    flex: 2.3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightBlock-replies{
    flex: 0.8;
}