.combinator-boardParams{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.topPart-boardParams{
    border: 1px solid #D5D0C0;
    background-color: #FAF9F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topPart-boardParams hr{
    background-color: #D5D0C0;
    height: 1px;
    width: 100%;
    border: none;
}

.splitter-boardParams{
    display: flex;
    justify-content: space-between;
}

.splitter-boardParams div:nth-of-type(1){
    color: #666660;
}

.bottomPart-boardParams{
    border: 1px solid #D5D0C0;
    background-color: #FAF9F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottomPart-boardParams hr{
    background-color: #D5D0C0;
    height: 1px;
    width: 100%;
    border: none;
}

.bottomPart-boardParams div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.bottomPart-boardParams div img{
    flex: 1;
}